# Ignore environment files
.env

# Ignore other files you may not want to track
.env.local
.env.*.local

# Node-related files (if you are using Node.js)
node_modules/

# IDE files (for example, if you are using VSCode)
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# Colab
Colab.ipynb

# Main file
llm-udemy
llm_RAG/knowledge-base

# Vector Database
vector_db

# Notebooks
multi.py